h1 {
  line-height: 100px;
  padding-left: 1.5rem;
  padding-top: 1rem;
  font-size: 50px;
}

.navbar {
  justify-content: flex-end;
  padding-left: 8rem;
  padding-right: 1rem;
  padding-top: 0px;
  position: fixed;
  right: 0px;
}

.top-tabs {
  color: black;
  text-align: center;
  text-decoration: underline;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 30px
}
